.content {
    background-color: '#fefee2';
    height: 100%;
}

.size {
    font-size: 30px;
}

.tempMsg {
    font-size: 46px;
}


@media screen and (min-height: 48px) {
    .size {
        font-size: 8px;


    }
    .tempMsg{
        font-size: 22px;
    }
}

@media screen and (min-height: 64px) {
    .size {
        font-size: 9px;


    }
    .tempMsg{
        font-size: 24px;
    }

}

@media screen and (min-height: 96px) {
    .size {
        font-size: 10px;

    }
    .tempMsg{
        font-size: 26px;
    }

}

@media screen and (min-height: 128px) {
    .size {
        font-size: 12px;


    }
    .tempMsg{
        font-size: 28px;
    }

}

@media screen and (min-height: 192px) {
    .size {
        font-size: 14px;


    }
    .tempMsg{
        font-size: 30px;
    }

}

@media screen and (min-height: 256px) {
    .size {
        font-size: 16px;


    }
    .tempMsg{
        font-size: 32px;
    }

}

@media screen and (min-height: 320px) {
    .size {
        font-size: 18px;


    }
    .tempMsg{
        font-size: 34px;
    }
}

@media screen and (min-height: 384px) {
    .size {
        font-size: 20px;

    }
    .tempMsg{
        font-size: 36px;
    }
}

@media screen and (min-height: 448px) {
    .size {
        font-size: 22px;


    }
    .tempMsg{
        font-size: 38px;
    }
}

@media screen and (min-height: 512px) {
    .size {
        font-size: 24px;


    }
    .tempMsg{
        font-size: 40px;
    }
}

@media screen and (min-height: 600px) {
    .size {
        font-size: 26px;


    }
    .tempMsg{
        font-size: 42px;
    }
}

@media screen and (min-height: 700px) {
    .size {
        font-size: 28px;

    }
    .tempMsg{
        font-size: 44px;
    }
}

@media screen and (min-height: 800px) {
    .size {
        font-size: 30px;


    }
    .tempMsg{
        font-size: 46px;
    }
}